<h1>{{moduleName}}</h1>
{{#if uses}}
    Uses:
    {{#each uses}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}
{{#if extension_for}}
    Extension For:
    {{#each extension_for}}
        <a href="{{this}}.html">{{this}}</a>
    {{/each}}
    <br>
{{/if}}
{{#if extends}}
    Extends: {{#crossLink extends}}{{/crossLink}}<br>
{{/if}}
<!--<span class="foundat">Class defined in: <a href="{{foundAt}}">`{{file}}:{{line}}`</a></span>-->
<div class="intro">{{{classDescription}}}</div>

{{#if is_constructor}}
    {{#is_constructor}}
        {{>method}}
    {{/is_constructor}}
{{/if}}

<div id="classdocs">
    <!--<ul>-->
        <!--{{#if methods}}-->
            <!--<li><a href="#methods">Methods</a></li>-->
        <!--{{/if}}-->
        <!--{{#if properties}}-->
            <!--<li><a href="#props">Properties</a></li>-->
        <!--{{/if}}-->
        <!--{{#if attrs}}-->
            <!--<li><a href="#attrs">Attributes</a></li>-->
        <!--{{/if}}-->
        <!--{{#if events}}-->
            <!--<li><a href="#events">Events</a></li>-->
        <!--{{/if}}-->
    <!--</ul>-->
    <div>
        <h2>Properties</h2>
        <div id="props">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#properties}}
                        {{>props}}
                    {{/properties}}
                </tbody>
            </table>
        </div>

        <h2>Methods</h2>
        <div id="methods">
            {{#methods}}
                {{>method}}
            {{/methods}}
        </div>


        <div id="attrs">
            {{#attrs}}
                {{>attrs}}
            {{/attrs}}
        </div>
        <div id="events">
            {{#events}}
                {{>events}}
            {{/events}}
        </div>
    </div>
</div>
